.btn{
    width: 100%;
    aspect-ratio: 1 / 1;
    background: none;
    border: 3px solid black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    padding: .5rem;
    color: black;
    cursor: pointer;
}

.btn.active{
    background-color: dimgrey;
    color: white
}

.btn.inactive{
    opacity: .3;
}

.btn:hover:not(:disabled), 
.btn:focus:not(:disabled){
    background-color: lightgray;
}